.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  
}

.card:hover {
  background-color: #188fff16;
  transform: scale(1.05);
}

.card img {
  width: 100px;
  height: 75px;
  object-fit: cover;
}


.card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card h3 {
  font-size: 1.2rem;
  color: black;
}

.btnFav {
  display:flex;
  justify-content: center;
  justify-self: flex-end;
  background-color: #1890ff;
  color: white;
  border: 1px solid #69b3f8;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  
}

.btnFav:hover {
background-color: #69b3f8; 
border: 1px solid  #1890ff;;
}

.btnDetails {
  padding: 0.5rem 1rem;
  background-color: #1890ff;
  color: white;
  border: 1px solid #69b3f8;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  
}

.btnDetails:hover {
background-color: #69b3f8; 
border: 1px solid  #1890ff;;
}

.card.a {
  text-decoration: none;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}