.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 0.3rem;
  width: 100%;
  height: 100vh;

}

.filters {
  grid-column: 1 / 2;
}

.results {
  grid-column: 2 / -1;
}
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: rgba(24, 144, 255, 0.06); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 10rem;
  margin-top: 100px;
  border: none;
}
select {
  border-radius: 0.2rem;
  height: 1.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  margin: 30px
}

option {
  border-radius: 0.2rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 30px
}
.btn {
    padding: 0.5rem 1rem;
    background-color: #1890ff;
    color: white;
    border: 1px solid #69b3f8;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    
}

.btn:hover {
    background-color: #69b3f8; 
    border: 1px solid  #1890ff;;
    }


.mainContent {
  margin-top: -75px;
  margin-left: 175px;
  padding: 100px
}


.filters h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filters li {
  margin-bottom: 5px;
}
.filters label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .mainContent {
    margin-left: 0;
  }
  
  .filters {
    grid-column: 1 / -1;
    position: static;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: none;
  }
  
  .filters ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .filters li {
    width: 90%;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    margin: 10px 0;
    font-size: 0.8rem;
  }
  
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .filters {
    width: 100%;
    position: static;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    margin-top: 20px;
  }

  .filters h2 {
    font-size: 1.1em;
    margin-bottom: 5px;
  }

  select {
    width: 100%;
    margin-bottom: 10px;
  }

  option {
    margin: 0;
  }
}
