.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../Assets/continents-map-text-countries-wallpaper-preview.jpg");
  background-size:contain;
  background-position: center;
  background-attachment: contain;
  padding: 0;
}

.container:target{
  display:none
}

.btn {
  margin-top: 500px;
  height: 30px;
  width: 70px;
  background-color: #1890ff;
  color: white;
  border: 1px solid #69b3f8;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.login {
  margin-top: 35px;
  width: 70px;
  height: 30px;
  background-color: #1890ff;
  color: white;
  border: 1px solid #69b3f8;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #69b3f8;
  border: 1px solid #1890ff;
}

.flecha {
  animation: arrow 1s ease-in-out infinite;
  font-size: 40px;
  color: white;
  margin-bottom: 120px;;
  z-index: 1;
  cursor: pointer;
}

.flecha:hover {
  animation: arrow 1s ease-out infinite !important;
  color: #229bf4;
}
@keyframes arrow {
  0% {
    transform: translate(0px, 50px);
  }
  50% {
    transform: translate(0px, 60px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}