.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../Assets/continents-map-text-countries-wallpaper-preview.jpg");
  background-size:contain;
  background-position: center;
  background-attachment: contain;
  padding: 0;
}

.container:target{
  display:none
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #212121e6;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  height: 40%;
  width: 25%;
  border: 2px solid #1890ff

}
.container label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #1890ff

}

.container input {
  width: 50%;
  height: 30%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  color: #1890ff;
}
.btn {
  display: center;
  align-self: center;
  height: 30px;
  width: 70px;
  background-color: #1890ff;
  color: white;
  border: 1px solid #69b3f8;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}
.btn:hover {
  background-color: #69b3f8;
  border: 1px solid #1890ff;
}
.btn2 {
  margin-top: 1rem;
  display: center;
  align-self: center;
  height: 30px;
  width: 70px;
  background-color: #1890ff;
  color: white;
  border: 1px solid #69b3f8;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}


.btn2:hover {
  background-color: #69b3f8;
  border: 1px solid #1890ff;
}

.warning {
  border: solid red 1px;
  border-radius: 0.2em;
}

.danger {
  font-size: 10px;
  color: red;
  padding: 3px
}